*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Miriam Libre', serif;
  /* Custom Colors */
  --card-red: #e61515;
  --card-black: #000;
  --deco-black: #313131;
  --deco-gold: #eccf5d;
}
img {
  max-width: 100%;
  height: auto;
}